.shop_category {
    width: 87%;
    height: 341.24px;
    position: absolute;
    top: 1333px;
    left: calc(50% - 87% / 2);
    .top {
      width: 100%;
      height: 109px;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      .inner_top {
        display: none;
      }
      & p {
        color: #0c0606;
        font-family: font2;
        width: 35%;
        height: 78px;
        font-size: clamp(35px, 2vw, 40px);
        text-align: center;
        &:nth-of-type(2) {
          width: 27%;
          height: 45px;
          font-size: clamp(20px, 1vw, 28px);
          padding-bottom: 20px;
        }
      }
    }
    .bottom {
      display: flex;
      justify-content: space-between;
      width: 100%;
      .child1,
      .child2,
      .child5,
      .child3,
      .child4 {
        width: 16%;
        height: 189.35px;
        margin-top: 40.61px;
        display: flex;
        flex-direction: column;
        align-items: center;
        .image1,
        .image2,
        .image3,
        .image4,
        .image5 {
          width: 100%;
          height: 156.94px;
          background-image: url(../../images/xxl/d2f37c9d73e005a330fea4d3fe54b8a1.jfif);
          background-size: cover;
          background-position: center;
          border-left: 1px solid #d8d1cebd;
          border-right: 1px solid #d8d1cebd;
          border-bottom: 4px solid #d8d1cebd;
        }
        .image2 {
          background-image: url(../../images/xxl/8993b7585672644e285e96ec364766e6.jfif);
        }
        .image3 {
          background-image: url(../../images/xxl/4a70a3b153b93b377efba5bed442d5cb.jfif);
        }
        .image4 {
          background-image: url(../../images/xxl/5caafed94da4367cf8516b35a89f7930.jfif);
        }
        .image5 {
          background-image: url(../../images/xxl/fba644d322541be72690ac6ec0656180.jfif);
        }
        & img {
          width: 100%;
          height: 276px;
          object-fit: cover;
          border-left: 1px solid #d8d1cebd;
          border-right: 1px solid #d8d1cebd;
          border-bottom: 4px solid #d8d1cebd;
        }
        .text {
          width: 58%;
          height: 40px;
          font-family: font2;
          color: #0c0606;
          text-align: center;
          line-height: 40px;
          font-size: clamp(16px, 1vw, 18px);
        }
      }
      .child1 {
        margin-left: 106px;
      }
      .child5 {
        margin-right: 93px;
      }
    }
  }